:export {
  --menuBg: #001529; // 背景颜色
  --menuText: rgba(255, 255, 255, 0.65); // 字体颜色
  --menuActiveBg: #1890ff; // 选中的背景颜色
  --menuActiveText: #fff; // 选中字体颜色
  --subMenuBg: #000c17; // 子集背景颜色
  --menuHoverBg: #001121; // 鼠标移入的背景颜色
  --menuHoverText: #fff; // 鼠标移入字体颜色
  --menuWidth: 210px; // menu的宽度
}